*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
}
.container{
    background-color: rgb(184, 203, 184);
    height:100vh;
    display:grid;
    gap:5px;
    padding:0.5rem;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1ft);
}
.items{
    background-color: rgba(234, 18, 18, 0.571);
    border:2px solid black;
}


/* @media(min-width:768px){
.container{
}
.nav1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    
}
nav2{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

} 

} */